body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 2.7% 15% 7% 15%;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 3rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar {
  padding: 0px;
}

.custom_button {
  margin: 0% 3% 5% 0%;
}

.rotateMobile {
  transform: rotate(25deg);
  width: 50%;
  z-index: 0;
  position: absolute;
  right: 30%;
}

.fas {
  color: #ef8172;
  text-align: center;
  font-size: 4.5rem;
}

.fas:hover {
  color: #ff4c68;
}

h3 {
  margin: 1rem auto;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
  padding: 0rem;
}

#features {
  color: #8f8f8f;
  text-align: center;
  font-family: "Montserrat";
  line-height: 1.5;
  background-color: white;
  padding: 7%;
  position: relative;
  z-index: 1;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  font-family: "Montserrat";
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial {
  width: 25%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding: 3%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  font-family: "Montserrat";
}

.presslogo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 4% 15%;
}

#pricing {
  text-align: center;
  font-family: "Montserrat";
  padding: 7% 4% 3% 4%;
  font-weight: 550;
}

.card-body {
  font-weight: bold;
}

p {
  color: #8f8f8f;
  padding-top: 5px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .rotateMobile {
    transform: rotate(0deg);
    width: 50%;
    z-index: 1;
    right: auto;
    position: static;
  }
}

#cta {
  font-family: "Montserrat";
  font-weight: 800;
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.custom {
  color: white;
  font-size: 3em;
  padding-bottom: 40px;
}

#footer {
  text-align: center;
  padding: 4% 15%;
}

.small {
  font-size: 17px;
  color: #000;
}
